* {
  font-family: "Roboto", monospace;
  font-weight: 500;
  text-align: center;
}

body {
  margin: 0;
  position: absolute;
  width: 100vw;
  background-color: white;
}

img {
  display: flex;
  align-self: flex-start;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

h4 {
  margin-top: 1vh;
  color: white;
  font-size: 4vw;
}

section {
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 20px;
  margin: 0%;
  background-image: url(assest/top\ circles.png);
  background-color: #191765;
  background-repeat: no-repeat;
  background-size: cover;
}

.works {
  display: flex;
  padding: 20px;
  background-size: 100% 100%;
  background-attachment: scroll;
  background-image: url(assest/bg.png);
}

.contact {
  display: flex;
  background-image: none;
}

h1 {
  font-size: 11.1vw;
  color: #9391ff;
  font-style: normal;
  margin-bottom: 1.2vh;
  margin-top: 8vh;
}

.logo {
  font-style: normal;
  position: static;
  width: 100%;
  color: #fff;
  letter-spacing: 0.03em;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.menu {
  font-style: normal;
  position: static;
  width: 100%;
  margin-right: 5%;
  color: #fff;
  letter-spacing: 0.03em;
  font-size: 18px;
  display: flex;
  align-items: center;
}

h2 {
  color: #dfe1e6;
  font-style: normal;
  font-weight: 500;
  font-size: 8.6vw;
  line-height: 44px;
}

.thegrid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 1vw;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

.thegrid .head {
  color: #9490ff;
  font-size: 4vw;
}

.thegrid .cell {
  color: #f5f5ff;
  font-size: 4vw;
}

.project-title {
  margin-top: 6.875vh;
  margin-left: auto;
  margin-right: auto;
}

p {
  position: static;
  width: 91.08635097493036vw;
  font-style: normal;
  font-size: 5.571030640668524vw;
  line-height: 7.799442896935933vw;
  color: #c8c8d4;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 6.685236768802228vw;
  margin-bottom: 1.564945226917058vh;
}

header {
  margin-top: 40px;
  align-self: flex-start;
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 5vh;
  position: fixed;
}

nav {
  margin-left: 65%;
  margin-right: auto;
}

.bar {
  width: 80vw;
  margin-top: 9.389671361502347vh;
  margin-bottom: 2.347417840375587vh;
}

.bar2 {
  width: 80vw;
  margin-top: 2.347417840375587vh;
}

.bar3 {
  margin-top: 2.347417840375587vh;
  width: 80vw;
  margin-bottom: 4vh;
}

.bar4 {
  width: 100vw;
}

#link {
  position: relative;
  top: 176px;
}

.social-media {
  list-style-type: none;
  padding: 0;
  color: white;
  display: flex;
  flex-direction: row;
}

.social-media2 {
  list-style-type: none;
  padding: 0;
  display: inline-block;
  color: white;
}

.social-li {
  float: left;
  width: 12vw;
  font-size: 6vw;
}

li {
  display: flex;
}

ul {
  display: flex;
  flex-direction: column;
  list-style-type: initial;
  margin-block-start: initial;
  margin-block-end: initial;
  margin-inline-start: initial;
  margin-inline-end: initial;
  padding-inline-start: initial;
  margin-left: auto;
  margin-right: auto;
}

li a {
  display: block;
  color: white;
  padding: 15px;
  text-decoration: none;
}

.work-title {
  display: flex;
  justify-self: flex-start;
  width: 66.01671309192201vw;
  font-style: normal;
  font-size: 11.1vw;
  margin-right: auto;
  color: #9490ff;
  margin-bottom: 1.5vh;
}

.work-title2 {
  display: flex;
  justify-self: flex-start;
  width: 66.01671309192201vw;
  font-style: normal;
  font-size: 11.1vw;
  margin-right: auto;
  color: #9490ff;
  margin-top: 1.5vh;
}

.work-title3 {
  visibility: hidden;
  display: flex;
  justify-self: flex-start;
  width: 0.000000000000000000000000001px;
  font-style: normal;
  color: #9490ff;
  margin: 0.000000000000000000000000001px, 0.000000000000000000000000001px;
  font-size: 0.000000000000000000000000001px;
  height: 0.000000000000000000000000001px;
}

.down_arrow_a {
  visibility: hidden;
  width: 0.0000000000000000000000000001px;
  margin-right: 10vw;
}

.down_arrow_b {
  visibility: hidden;
  width: 000000000000000000000000000.1px;
}

.down_arrow {
  margin-top: 4.026845637583892vw;
  margin-bottom: 12px;
  width: 25vw;
}

.row {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  margin-top: 7vw;
  width: 100%;
}

.project-card,
.project-card2 {
  display: grid;
  grid-gap: 10px;
  margin-top: 25px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

.part-a,
.part-b {
  width: 100%;
  height: 100%;
  display: grid;
}

.tags {
  display: flex;
  flex-direction: row;
  margin-top: 46px;
  margin-left: 5%;
  margin-right: 5%;
}

span {
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 4vw;
}

button {
  display: flex;
  background-color: #7d73fc;
  color: black;
  transition-duration: 0.4s;
  border: none;
  margin-top: 34px;
  margin-bottom: 40px;
  padding: 5vw;
  text-align: center;
}

button:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.button:focus {
  background-color: #5e42d7;
}

.submit {
  margin-left: auto;
  margin-right: auto;
}

.submit:hover {
  color: #fff;
  background-color: #7d73fc;
}

.submit:active {
  color: #eaeaf6;
  background-color: #5e42d7;
}

.rectangle {
  margin-left: auto;
  margin-right: auto;
}

.project-info {
  position: static;
  width: 100%;
  top: 129px;
  font-family: "Inter", monospace;
  font-style: normal;
  font-size: 4vw;
  line-height: 6vw;
  color: #dcdce8;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-right: auto;
  margin-left: auto;
}

form {
  margin-top: 4vh;
}

input {
  text-align: start;
  margin-top: 4vh;
  background-color: white;
  color: #191765;
  font-size: 4vw;
  width: 90vw;
  height: 10vw;
  border: none;
}

textarea {
  resize: none;
  width: 98%;
  margin-top: 4vh;
  height: 20vh;
  background-color: white;
  color: #191765;
  text-align: start;
  border: none;
  font-size: 4vw;
}

footer {
  background-color: #191765;
}

/* on desktop */
@media screen and (min-width: 1024px) {
  header {
    visibility: hidden;
  }

  .circle {
    position: absolute;
    width: 15%;
    height: 4.5%;
    right: 90%;
    top: 2.5%;
    background: #edecff;
    filter: blur(75px);
  }

  .circle2 {
    position: absolute;
    width: 10%;
    height: 3.5%;
    left: 90%;
    top: 15%;
    background: #edecff;
    filter: blur(75px);
  }

  section {
    background-image: inherit;
  }

  h1 {
    width: 70vw;
    font-size: 90px;
    margin-top: 3.408602150537634vw;
  }

  h2 {
    width: 70vw;
    font-size: 3.910068426197458vw;
  }

  p {
    width: 31.041666666666668vw;
    font-size: 1.3888888888888888vw;
    line-height: 2.684563758389262vw;
  }

  .bar {
    margin-top: 2.7684563758389262vh;
    width: 31.041666666666668vw;
  }

  .thegrid {
    grid-template-columns: auto auto auto;
    width: 31.041666666666668vw;
    grid-gap: 0.39vw;
  }

  .thegrid .cell {
    color: #f5f5ff;
    font-size: 1.25vw;
  }

  .thegrid .head {
    color: #f5f5ff;
    font-size: 1.25vw;
  }

  .bar2 {
    width: 31.041666666666668vw;
    margin-top: 2.347417840375587vh;
  }

  .down_arrow_a {
    visibility: visible;
    width: 5vw;
    margin-left: 5%;
  }

  .down_arrow_b {
    visibility: visible;
    width: 5vw;
    margin-right: 5%;
  }

  .down_arrow {
    visibility: hidden;
    width: 0%;
  }

  .social-li {
    width: 6vw;
    font-size: 1.5vw;
  }

  .row {
    margin-top: 8.89261744966443vh;
    width: 80%;
  }

  .work-title,
  .work-title2 {
    visibility: hidden;
    width: 0.000000000000000000000000001px;
    height: 0.000000000000000000000000001px;
    margin: 0.000000000000000000000000001px;
    font-size: 0.00000000000000000000001px;
  }

  .work-title3 {
    visibility: visible;
    display: flex;
    justify-self: flex-start;
    width: 80.833333333333336vw;
    font-style: normal;
    font-size: 5.5vw;
    margin-right: auto;
    color: #9490ff;
    height: 5.833333333333336vw;
    margin-bottom: 2.546218487394958vw;
    margin-left: 10%;
    margin-left: auto;
  }

  .bar3 {
    width: 80.27777777777779vw;
  }

  .placeholder {
    max-width: 648px;
    width: 100%;
    height: 100%;
  }

  .project-card,
  .project-card2 {
    width: 80%;
    margin-top: 6.111111111111111vw;
  }

  .project-card {
    grid-template-columns: 55% 45%;
  }

  .project-card2 {
    grid-template-columns: 45% 55%;
  }

  .part-a {
    grid-row: 1;
  }

  .part-b {
    grid-row: 0;
  }

  .project-title {
    width: inherit;
  }

  .project-info {
    width: 100%;
    font-family: "Inter", monospace;
    font-style: normal;
    font-size: 1.5vw;
    line-height: 1.5vw;
    color: #dcdce8;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
  }

  span {
    font-size: 1.0416666666666667vw;
  }

  .submit-text {
    font-size: 2.0416666666666667vw;
  }

  button {
    display: flex;
    background-color: #7d73fc;
    color: black;
    transition-duration: 0.4s;
    border: none;
    padding: 1vw;
    text-align: center;
    margin-bottom: 0%;
  }

  .social-media2 {
    display: inline-block;
  }

  h4 {
    display: inline-block;
    font-size: 1vw;
    margin-top: auto;
    padding-bottom: 1vh;
  }

  form {
    width: 52.5%;
  }

  input {
    font-size: 1.1543859649122806vw;
    width: 100%;
    height: 4.026845637583893vw;
  }

  .contact-title {
    margin-top: 20vw;
  }

  .contact-info {
    width: 52.5%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.1543859649122806vw;
    margin-top: 1.2280701754385965vw;
  }

  textarea {
    font-size: 1.1543859649122806vw;
  }

  .submit {
    padding: 2.5vw 5vw;
    margin-top: 6.180555555555555vw;
    margin-bottom: 7.361111111111111vw;
  }

  .bar4 {
    margin-bottom: 3vw;
  }

  .shape {
    visibility: hidden;
  }
}
